{% extends "project_submission/base.html" %}

{% block body %}
<div class="cvat-tasks-page">
  <div class="ant-row-flex ant-row-flex-center ant-row-flex-middle">
    <div class="ant-col ant-col-md-22 ant-col-lg-18 ant-col-xl-16 ant-col-xxl-14">
      <span class="ant-typography">
        <strong>Group: {{ request.user }}</strong>
      </span>
    </div>
  </div>

    <div class="ant-row-flex ant-row-flex-center">
      <div class="ant-col">
        <span class="ant-typography"> You can make multiple submissions. Only the submission with the highest score is used for evaluation. The MAP displayed is based on a subset of the test data and might not represent the MAP for all the test data.</span>
      </div>
  </div>

  <div class="ant-row-flex ant-row-flex-center">
    <div class="ant-col">
      <a type="button" class="ant-btn ant-btn-primary" href="{% url 'project_submission:submit_annotation'  %}"><span>New submission</span></a>
    </div>
  </div>

  <hr>

  <div class="ant-row-flex ant-row-flex-center">
    <div class="ant-col">
      <span class="ant-typography cvat-title">Your submissions</span>
    </div>
  </div>
  <div class="ant-row-flex ant-row-flex-center">
    <div class="ant-col">
      <table cellpadding="6">
        <thead>
          <tr>
            <th><strong class="ant-typography">Submission</strong></th>
            <th><strong class="ant-typography">MAP Result</strong></th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
          <tr>
            <td><span class="ant-typography">{{ submission }}</span></td>
            <td><span class="ant-typography">{{ submission.mean_average_precision_leaderboard }}</span></td
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {# body #}
